/*
************
Variables
************ 
*/

/* Size */

:root {
    --header-h: 70px;
}

/* Color */

:root {
    --vdu-warning: #ED8500;
}

/*
------------
Header
------------ 
*/

header {
    height: var(--header-h);
}

.vdu-brand-logo {
    height: 52px;
}

.vdu-input-group>* {
    background-color: #E5E5E5;
    border: #E5E5E5;
}

.vdu-input:focus {
    background-color: #E5E5E5;
}

.vdu-warning {
    color: var(--vdu-warning);
}

/*
------------
Main
------------ 
*/

.vdu-main-container {
    height: calc(100vh - var(--header-h));
    background-color: green;
}

/*
------------
Sidebar
------------
*/

.vdu-sidebar {
    width: 68px;
}

/*
************
Responsive
************ 
*/

@media (min-width: 992px) {

    /* Sidebar */
    .vdu-sidebar {
        width: 150px;
    }
}