/*
************
Variables
************ 
*/

/* Size */

:root {
    --header-h: 70px;
}

/* Color */

:root {
    --vdu-warning: #ED8500;
    --vdu-warning-hover: #ED8500;
    --vdu-search: #E5E5E5;
    --vdu-sidebar: #10273D;
    --vdu-siderbar-hover: #6A7D8C;
    --vdu-top-main: #1B72E8;
    --vdu-tag-category: #165BBA;
}

/*
------------
Header
------------ 
*/

header {
    height: var(--header-h);
}

.vdu-brand-logo {
    height: 52px;
}

.vdu-input-group>* {
    background-color: var(--vdu-search);
    border: var(--vdu-search);
}

.vdu-input:focus {
    background-color: var(--vdu-search);
}

.vdu-warning {
    color: var(--vdu-warning);
}

.vdu-warning:hover {
    color: var(--vdu-warning-hover);
}

/*
------------
Sidebar
------------
*/

.vdu-sidebar {
    width: 68px;
    flex-shrink: 0;
    background-color: var(--vdu-sidebar);
    background-image: url(/img/sidebar-bg.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.vdu-sidebar-item:hover {
    background-color: var(--vdu-siderbar-hover);
}



/*
------------
Main
------------ 
*/

.vdu-main-container {
    height: calc(100vh - var(--header-h));
}

.vdu-top-main {
    background-color: var(--vdu-top-main);
}

.vdu-tag-category {
    background-color: var(--vdu-tag-category);
    font-weight: 500;
}

.vdu-class-avatar {
    width: 30px;
}

/* Offcanvas */

/*
************
Responsive
************ 
*/

@media screen and (min-width: 992px) {

    /* Sidebar */
    .vdu-sidebar {
        width: 150px;
    }

    /* Offcanvas */
    .vdu-offcanvas {
        width: 50vw !important;
    }

}

@media screen and (min-width: 1200px) {

    /* Offcanvas */
    .vdu-offcanvas {
        width: 30vw !important;
    }

}